body {
  font-family: 'Rubik';
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  overflow-x: hidden;
}
.placeholder-body {
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}
.placeholder-body::before {
  content: '';
  position: absolute;
  top: -160px;
  left: -56px;
  width: 400px;
  height: 900px;
  background: rgb(136,56,255);
  background: linear-gradient(45deg, rgba(136,56,255,1) 0%, rgba(233,66,255,1) 100%);
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
}
.page-desc::after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: -173px;
  width: 524px;
  height: 745px;
  background: rgb(136,56,255);
  background: linear-gradient(45deg, #F9F4FA 0%, #F7F5FA 100%);
  border-top-left-radius: 290px;
  border-top-right-radius: 290px;
  z-index: -1;
}
.phone-outline {
  background-color: #F5F3F8;
  border: 10px solid #FFF;
  border-radius: 30px;
  width: 230px;
  height: 500px;
}
.top-cut {
  width: 120px;
  height: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.top-desc {
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgb(136,56,255);
  background: linear-gradient(90deg, rgba(136,56,255,1) 0%, rgba(233,66,255,1) 100%);
  padding-bottom: 10px;
}
.top-desc i {
  margin-bottom: 3px;
}
.avatar {
  border-radius: 50%;
  border: 1px solid white;
}
.ellipsis,
.money {
  margin-left: auto;
}
.name-desc h5 {
  font-size: 10px;
  margin-bottom: 3px;
}
.name-desc p {
  font-size: 8px;
  font-weight: 300;
}
.chat-screen p {
  font-size: 8px;
}
.rec-msg {
  background-color: #EDE5F4;
  color: hsl(276, 55%, 52%);
  border-radius: 10px;
  border-bottom-left-radius: 0;
}
.snd-msg {
  background-color: #FFF;
  color: hsl(271, 15%, 43%);
  border-radius: 10px;
  border-bottom-right-radius: 0;
}
.rec-msg-rate {
  color: #FFF;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  background: rgb(136,56,255);
  background: linear-gradient(90deg, rgba(233,66,255,1) 0%, rgba(136,56,255,1) 100%);
}
.radio {
  border: 1px solid hsl(289, 100%, 72%);
  border-radius: 50%;
  background: transparent;
}
#money {
  font-size: 14px;
}
.input {
  border-radius: 20px;
}
.placeholder {
  color: hsl(206, 6%, 79%);
}
.btn-send {
  border-radius: 50%;
  background-color: hsl(271, 36%, 24%);
}
.btn-send i {
  margin-left: 2px;
}
.page-desc {
  width: 441px;
  z-index: 5;
}
.desc-heading {
  color: hsl(271, 36%, 24%);
}
.desc-text {
  color: hsl(270, 7%, 64%);
}

@media screen and (max-width: 1280px) {
  .placeholder-body::before {
    top: -219px;
    left: -88px;
    width: 400px;
    height: 900px;
  }
  .page-desc::after {
    right: -206px;
    width: 524px;
    height: 700px;
  }
}

@media screen and (max-width: 768px) {
  .placeholder-body {
    width: 100%;
    height: auto;
  }
  .page-desc {
    width: 84%;
  }
  .placeholder-body::before {
    top: -388px;
    left: -219px;
    width: 400px;
    height: 900px;
  }
}